.App {
  text-align: center;
  background-image: url("./Images/snow.jpg");
  height: 100vh;
  width: 100%;
  background-position: center;

  background-size: cover;
}
/* Mobile*/
@media only screen and (max-width: 46.1875rem) {
  .App {
    height: 100vh;
  }
}
/*Tablet*/
@media only screen and (max-width: 63.9375rem) and (min-width: 46.25rem) {
  .App {
    height: 100vh;
  }
}
